.container {
  margin-top: 15px;
}

.t-head {
  font-size: 1.5rem;
  font-weight: bold;
}

.t-col-head {
  font-size: 1.1rem;
  font-weight: bold;
}

.spacer {
  margin-left: 60px;
}

.avatar {
  height: 55px;
  width: 55px;
}
